#evaluation {
    color: #b3daff;
  text-align: center;
   font-size: 30px;
}
h1 {
  color:  #b3daff;
  text-align: center;
}
#filetypes {
    color: #b3daff;
  text-align: center;
   font-size: Large;
}
p {
  text-align: justify;
  font-size: 30px;
}
