#evaluation {
   color: #cc66ff;
   text-align: center;
   font-size: 30px;
}
h1 {
   color:  #ff99cc;
   text-align: center;
   font-size: 40px
}
#filetypes {
   color: #cc66ff;
   text-align: center;
   font-size:  30px;
}
p {
   text-align: justify;
   font-size: 25px;
}
a:link {
  background-color: #99ddff;
  text-align: center;
}
